{% extends 'base.html'%} 


{% block title%} {% endblock%}


{% block content%}
    <div class="container " id="cont">
        <div class="row">
            <div class="col-md-12 bd-4">
                <br><br>
                <center>
                    <div class="card bg-secondary" style="width: 24rem;height: 30rem;">
                        <div class="card-body">
                            {% if not request.User.is_authenticated %}
                        <form action="" method="post">
                          {% csrf_token%}
                          {{ form.as_p }}
                          <button type="submit btn btn-outline-info">login</button>
                        </form>
                        <h4> Don't have an account? <a href='.' > Register</a> </h4>
                        {% else %}
                        <p>You are already logged in, would you like too log out?<a href='/logoout' > logoout</a></p>
                        {% endif %}
                    </div>
                    <img src="https://png.pngitem.com/pimgs/s/79-793988_ig-instagram-name-with-icons-hd-png-download.png" alt="" style="width: 100px;height: 150px;">
                  </div>
                </center>
            </div>
        </div>
    </div>
{% endblock%}