{% extends 'base.html'%} 


{% block title%} {% endblock%}


{% block content%}
    <div class="container">
        <div class="row">
            
                <br><br>
                <center>
                    <div class="col-md-12 bd-4" style="width: 20rem;height: 20rem;"  id="cont">
                        
                            <div class="card-body">
                                <img src="https://images.unsplash.com/photo-1611262588024-d12430b98920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" class="rounded-circle" alt="..." style="height: 100px;width: 100px;">
                           
                        </div>
                <div class="card bg-secondary" style="width: 24rem;height: 40rem;" id="card-bg">
                    <div class="card-body border border-5">
                        {% if not request.User.is_authenticated %}
                      <form action="" method="post">
                          {% csrf_token%}
                          {{ form.as_p }}
                          <button type="submit btn btn-outline-info">Register</button>
                      </form>
                      <h4> Already have an accoount? <a href='/login' > login</a> </h4>
                      {% else %}
                      <p>You are already logged in, would you like too log ou?</p>
                      {% endif %}
                    </div>
                  </div>
                </center>
            </div>
        </div>
    </div>
{% endblock%}