{% extends 'base.html'%}

{% block title %} {% endblock%}

{% block content %} 
<style>
    body{
        background: #CEAB94;
background: -moz-linear-gradient(top, #CEAB94 0%, #A49173 50%, #C5954D 100%);
background: -webkit-linear-gradient(top, #CEAB94 0%, #A49173 50%, #C5954D 100%);
background: linear-gradient(to bottom, #CEAB94 0%, #A49173 50%, #C5954D 100%);
    }
</style>

<div class="container-sm">100% wide until small breakpoint
<div class="row">
    <div class="col-sm-12">

        <form action="." method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="field">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        {% if obj%}
            
        <h3>comment created:   {{obj.comment}}</h3>
                        
        {% endif %}
                    
    </div>
</div>

</div>
{% endblock%}