{% extends 'base.html'%}

{% block title %} {% endblock%}


{% block content %}

<script src="https://kit.fontawesome.com/0ee218dc2d.js" crossorigin="anonymous"></script> 
<div class="container">
    <div class="row"><br>
        <div class="col-md-8 ">
            <br>
            
            <div class="card ">
                <div class="card-body ">
                    {% for pic in photo %}
                <div>
                    <h2>{{pic.author}}</h2>
                    <a style="font-size:24px; width: 5px;" id="ellips" href=""><i class="fas fa-ellipsis-v"></i></a>
                </div>  
                <img src="{{pic.image.url}}" alt="..." style="width:500px;height:500px;">
                <div>
                    <a style="font-size:24px;" href=""><i class="far fa-heart"></i></a>
                    <a style="font-size:24px;" href="{% url 'comment'%} "><i class="far fa-comment"></i></a>
                    <a style="font-size:24px;" href=""><i class="far fa-share-square"></i></a>
                    <a style="font-size:24px;" id="bookmark" href=""><i class="fal fa-bookmark"></i></a>
                </div>
                <div class="likes"> <a href="">1,250 likes</a></div>
                <div class="card-body">
                    <div>
                        <h5> <a href="">{{pic.author}} </a></h5>
                        <span><p>{{pic.caption}} </p></span>
                    </div>
                  <div>
                      <p>{{pic.date_created | timesince }} ago</p>
                  </div>
                  
                </div>
                {% endfor %}
              </div>
              <hr>
              </div>
            </center>
        </div>
    </div>
</div>
{% endblock%}