{% extends 'base.html'%}

{% block title %} {% endblock%}


{% block content %}

<script src="https://kit.fontawesome.com/0ee218dc2d.js" crossorigin="anonymous"></script> 
<div class="container">
    <div class="row"><br>
        <div class="col-md-8 bd-4 border border-dark">
            <br>
            <div class="card " style="width: 40rem;">
                <div class="card-body">
                {% for post in posts%}
                <div>
                    <h3>{{post.author}}</h3>
                    <hr> 
                    <a style="font-size:24px; width: 150px;" id="ellips" href=""><i class="fas fa-ellipsis-v"></i></a>
                </div>  
                <img src="{{ post.image.url}}" class="card-img-top" alt="...">
                <div>
                    <a style="font-size:24px;" href=""><i class="far fa-heart"></i></a>
                    <a style="font-size:24px;" href="{% url 'comment'%} "><i class="far fa-comment"></i></a>
                    <a style="font-size:24px;" href=""><i class="far fa-share-square"></i></a>
                    <a style="font-size:24px;" id="bookmark" href=""><i class="fal fa-bookmark"></i></a>
                </div>
                <div class="likes"> <a href="">1,250 likes</a></div>
                <div class="card-body">
                    <div>
                        <h5> <a href="">{{post.author}} </a></h5>
                        <span><p>{{post.caption}} </p></span>
                    </div>
                  <div>
                      <p>{{post.date_created | timesince }} ago</p>
                  </div>
                  
                </div>
                {% endfor %}
              </div>
              <hr>

              <br>
              <div>
                  {% for coments in posts.commets.all %}
                  <div class="content">
                      <p>
                          <strong>{{comments.comment}} </strong>
                          <strong>{{comments.date_created}} </strong>
                      </p>
                  </div>
                  {% endfor %}
              </div>
              </div>
        </div>
        <!-- <div class="card" style="width: 30rem;">
            <div class="card-body">
                {% for users in userdetails %}
                <ul>
                    <li> {{users.f_name}}</li>
                    <li>{{users.bio}}</li>
                    <li>{{users.status}}</li>
                </ul>
                {% endfor %}
            </div>          
        </div> -->
        
    </div>
</div>
{% endblock%}