<nav class="navbar navbar-expand-lg navbar-light bg-secondary text-dark">
    <div class="container-fluid ">
        
    <div class="text-white">
        <a style="font-size:24px; width: 100px;" class="text-white" href="{% url 'profile'%}"><i class="fab fa-instagram"></i></a>
        <a style="font-size:2px; width: 100px;" class="v1 text-white" href="/">|</a>
        <a style="font-size:24px; width: 150px;" class="text-white" href="{% url 'post'%}">InstaAli</a>
        <a style="font-size:24px" class="nav-link active text-white" aria-current="page" href="{% url 'home'%}"><i class="fas fa-home"></i></a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        
        <form class="d-flex mx-auto" style="width: 200px;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button style="font-size:24px"><i class="fa fa-search"></i></button>
        </form>
    
    
        <div>

        <a style="font-size:24px; width: 100px; " href=""><i class="far fa-compass"></i></a>

        <a style="font-size:24px; width: 100px;" href=""><i class="far fa-heart"></i></a>
   
        </div>
      
    </div>
  </nav>