<style>
    .bg-light {
        background: #CE5937;
background: -moz-linear-gradient(left, #CE5937 0%, #A43137 50%, #C5692B 100%);
background: -webkit-linear-gradient(left, #CE5937 0%, #A43137 50%, #C5692B 100%);
background: linear-gradient(to right, #CE5937 0%, #A43137 50%, #C5692B 100%);
    }
  </style>
<nav class="navbar navbar-expand-lg navbar-light bg-white text-white">
    <div class="container-fluid ">
        {% if user.is_authenticated %}
        <div class="text-white" style="display: flex;">
            <!-- <a style="font-size:24px; width: 100px;" class="text-white" href="{% url 'post'%}"><i class="fab fa-instagram"></i></a> -->
            <a style="font-size:2px; width: 100px;" class="v1 text-white" href="/">|</a>
            <a style="font-size:24px; width: 150px; ;" class="text-white" href="{% url 'home'%}">InstaAli</a>
            <a href="{% url 'post'%}"><i class="fa fa-camera-retro fa-4x text-white" aria-hidden="true" style="font-size:30px; width: 100px;"></i></a>
        
            <form class="d-flex mx-auto" style="width: 200px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button style="font-size:24px"><i class="fa fa-search"></i></button>
            </form>

            <a style="font-size:24px;width: 100px" class="nav-link active text-white" aria-current="page" href="{% url 'home'%}"><i class="fas fa-home"></i></a>

            <a href="{% url 'profile'%}"><i class="far fa-user-circle text-dark width: 100px" style="font-size:30px"></i></a>

            <li class="nav-item">
            <a href="/accounts/password/change" class="nav-link">Change Password</a>
        </li>
        <li class="nav-item">
         
            <a href="/logout" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
        
        {% endif %}
        </div>
      
    </div>
</nav>